// Bhav Vriksha

doctype html
html(lang='en')
  head
    title Bhav Vriksha
    include ./partials/head.jade

    meta(property='og:title', content='Bhav Vriksha')
    meta(property='og:url', content='https://0xc0d3.pw')
    link(rel='canonical', href='https://0xc0d3.pw')
    link(rel='stylesheet', type='text/css', href='css/libraries.css')
    link(rel='stylesheet', type='text/css', href='css/app.css')
  body
    h1 Bhav Vriksha
    p Hindi Sentiment Treebank

    div.toolbar.hidden
      span.phrase
      ul
        each val in ['++', '+', '0', '-', '--']
          li(role='#{val}') #{val}

    div#body

    button#new Get New

    script(type='text/javascript', src='js/libraries.js')
    script(type='text/javascript', src='js/app.js')
    script.
      var app = require('app');
      app.init();
